.header {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 10px 12px 10px;
}
.clearfix {
  &:before,
  &:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}
.logo-b {
	display: inline-block;
	float: left;
	a {
		display: block;
	}
}
.slayder {
	background: url('../images/fon.png');
	 background-size: cover;
	margin:0 auto;
	overflow:hidden;
	padding-top: 30px;
}
