.product {
	margin-bottom: 5%;
}
.product-box {
	width: 186px;
	height: 186px;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 28px
}
.one {
	background: #5094f2;
}
.two {
	background: #D94748;
}
.the-third   {
	background: #ebbb11;
}
.product-img {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	max-width: 40%;
}
.product-text {
	display: inline-block;
	max-width: 500px;
	text-align: center;
	
}
h4 {
	font-size: 20px;
	color: #5094f2;
	margin-bottom: 5px;
	font-family: "Segoe WP"; 
}
.val {
	color: #909090;
	font-size: 18px;
}

@media (max-width: 976px){
	.product-box {
		margin: 0;

	}
	.one,.two,.the-third {
	float: left;
}
	.product-box {
		width: 136px;
		height: 136px;
	}
	.col-sm-12 {
		border-bottom: 2px solid #ccc;
	}
	.product-text {
		padding-left: 20px;
		padding-top: 40px;
	}
}
@media (max-width: 681px){
	.one,.two,.the-third {
		float: none;
		margin: 0 auto;
	}
	.product-text {
		display: block;
		margin: 0 auto;
		padding-left: 0;
		padding-top: 10px;
	}
}



