.services {
	padding: 30px 0;
	border-bottom: 2px solid #ccc;
}
.services__img {
	float: left;
	&-title {
	margin-bottom: 20px;
	font-size: 40px;
	color: #6f7173;
	text-align: center;
	}
	.cart {
		width: 100%;
	}
}
.services__text {
	padding-top: 50px;
	p {
		color: #909090;
		font-size: 22px;
		font-family: "Segoe WP"; 
	}
}