.slayd-text {
	display:inline-block;
	vertical-align:middle;
	color:#fff;
	line-height: 1.5;
	overflow: hidden;
	h1 {
		font-size: 40px;
	}
	& .sl-p{
		// font-size: 20px;
		margin-bottom: 20px;
	}
}

@media (max-width: 568px) {
	.slayd-text {
		display: block;
		margin: 0 auto;
		width: 71%;
	h1 {
		font-size: 22px;
	}
	& .sl-p{
		// font-size: 20px;
		margin-bottom: 16px;
	}
}
}