@import "../bootstrap-sass-3.3.7/assets/stylesheets/_bootstrap.scss";
@import "_reset.scss";
@import "_header.scss";
@import "_saydbar.scss";
@import "_nav.scss";
@import "_hamburger.scss";
@import "_header-slayder.scss";
@import "_bxslider.scss";
@import "_slayd-text.scss";
@import "_batton.scss";
@import "_mygrid.scss";
@import "_product.scss";
@import "_services.scss";
@import "_footer.scss";
@import "_media.scss";

.content {
	padding-top: 2%;
	padding: 0 10px 0 10px;
}